@{
    ViewBag.Title = "Home Page";
}

<div>
    <a href="/Users/Index"> Users</a>
    <a href="/Threads/Index"> Threads</a>
    <a href="/Posts/Index"> Posts</a>
    <a href="/Categories/Index"> Categories</a>
    <a href="/Messages/Index"> Posts</a>

</div>