# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Forum-Dyskusyjne.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dokumenty\Prywatne\Repos\Forum-Dyskusyjne\.idea\.idea.Forum-Dyskusyjne\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
